*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
}

body {
  font-family: 'Inter Tight', serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0em;
}

/* Genel Footer Stil Ayarları */
.footer {
  padding: 40px 0;
  background-color: #7a3145;
}

.footer-body {
  max-width: 296px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}

.tablet-logo {
  display: none;
}

.footer-logo-list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.mobile-logo,
.tablet-logo {
  fill: rgba(251, 251, 251, 1);
}

.footer-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: #fbfbfb;
}

.footer-text:not(:last-of-type) {
  margin-bottom: 8px;
}

.footer-abut-container {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-menu-link {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-contacts {
  font-style: normal;
  margin: 0;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-contacts-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-contacts-link .icon-phone {
  animation: ring 0.7s infinite;
}

.footer-address {
  max-width: 179px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-address .icon-location {
  animation: bounce 0.8s infinite;
}

.footer-contacts-link,
.footer-address {
  display: flex;
  align-items: center;
  gap: 4px;
  fill: #fbfbfb;
  transition: color 250ms ease-in;
}

.footer-site-info {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-legal-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legal-links-list {
  display: flex;
  gap: 8px;
}

.footer-legal-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }

  .footer-position-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .mobile-logo {
    display: none;
  }

  .tablet-logo {
    display: block;
  }

  .footer-body {
    max-width: 265px;
    display: inline-flex;
    gap: 25px;
    color: #fbfbfb;
    font-size: 16px;
    line-height: 20px;
    /* 125% */
    margin-bottom: 0;
  }

  .footer-abut-container {
    gap: 64px;
    margin-bottom: 0;
  }

  .footer-menu-list {
    gap: 25px;
  }

  .footer-menu-link {
    font-size: 32px;
    letter-spacing: -0.01em;
  }

  .footer-contacts {
    gap: 25px;
  }

  .footer-contacts-link {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }

  .footer-address {
    max-width: 215px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }

  .footer-site-info,
  .footer-legal-link {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 50px 0;
  }

  .footer-position-container {
    margin-bottom: 125px;
  }

  .footer-abut-container {
    flex-direction: row;
    column-gap: 121px;
  }
}

/*   --menu */

.footer-menu-item {
  perspective: 200px;
  transform-origin: center;
}

.footer-menu-item:hover .footer-menu-link {
  display: block;
  color: #85c925;
  transform: rotateY(65deg);
  transition: all 0.7s;
}

.footer-address:active,
.footer-menu-item:active .footer-menu-link {
  color: #1f5e11;
}

/* tel */
.footer-address:hover,
.footer-address:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: rgba(251, 251, 251, 0.5);
}

.footer-address:hover,
.footer-address:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus .icon-phone {
  fill: rgba(251, 251, 251, 0.5);
}

.footer-address:hover,
.footer-address:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus .icon-address {
  fill: rgba(251, 251, 251, 0.5);
}

/* Desktop/Tablet Viewport */
@media (min-width: 768px) {
  h1 {
    font-size: 76px;
    line-height: 76px;
    letter-spacing: -1.5%;
    font-weight: 600;
    /* SemiBold */
  }

  h2 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.5%;
    font-weight: 600;
    /* SemiBold */
  }

  h3 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5%;
    font-weight: 600;
    /* SemiBold */
  }

  p.body1 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    /* Medium */
  }

  p.body2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    /* Bold */
  }

  button {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1.5%;
    font-weight: 600;
    /* SemiBold */
  }
}

/* Mobile Viewport */
@media (max-width: 767px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5%;
    font-weight: 600;
    /* SemiBold */
  }

  h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.5%;
    font-weight: 600;
    /* SemiBold */
  }

  h3 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -1.5%;
    font-weight: 600;
    /* SemiBold */
  }

  p.body1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    /* Medium */
  }

  p.body2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    /* Bold */
  }

  button {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1.5%;
    font-weight: 600;
    /* SemiBold */
  }
}