*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
img {
  display: block;
}

h2{
    font-family: "Inter Tight" , sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.75px ;
    margin: 0;
}

h3{
    font-family: "Inter Tight" , sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.75px ;
    margin: 0;
    
}
body{
    font-family: "Inter Tight" , sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    margin: 0;
}
p{
    margin: 0;
}

#third-section{
    background-color: #7A3145;
    display: flex; /* Flexbox aktif edilir */
    flex-direction: column; /* Dikey düzen */
    gap: 40px; /* Elemanlar arası boşluk */
    padding: 80px 20px;

}
.third-section-top{
    display: flex; /* Flexbox aktif edilir */
    flex-direction: column; /* Dikey düzen */
    gap: 20px; /* Elemanlar arası boşluk */
    max-width: 626px;
}

.third-section-title{
    color: white;
    max-width: 335px;
}

.third-section-text{
    color: white;
}

.third-section-bottom{
    display: flex; /* Flexbox aktif edilir */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Elemanlar arası boşluk */
}

.vegetables-cards{
    width: 335px;
    height: 376px;
    padding: 32px 24px;
    display: flex; /* Flexbox aktif edilir */
    flex-direction: column; /* Dikey düzen */
    gap: 10px; /* Elemanlar arası boşluk */
    border-radius: 40px;
    background-color: #FBFBFB;
}

.vegetables-card{
    display: flex; /* Flexbox aktif edilir */
    flex-direction: column; /* Dikey düzen */
    gap: 12px; 
}

.vegetables-texts{
    display: flex; /* Flexbox aktif edilir */
    flex-direction: column; /* Dikey düzen */
    gap: 12px; 
}

.vegetables-image {
    width: 100%;
    height: auto;
    display: block;
  }


@media (min-width: 768px) {
    #third-section{
        padding: 100px 32px;
        gap: 52px;
    }
    h2{
        font-size: 64px;
        line-height: 64px;
    }
    
    body{
        font-size: 16px;
        line-height: 20px;
    }

    .third-section-top{
        gap: 24px;
    }

    .third-section-bottom{
        row-gap: 28px;
        column-gap:24px;
    }
    .vegetables-cards{
        width: 340px;
        height: 380px;
        padding: 32px 30px;
        gap: 12px; 
    }
    .third-section-title{
        width: 508px;
        height: 128px;
    }
}

@media (min-width: 1280px) {
    #third-section{
        padding: 100px;
    }
}