*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
}

body {
  font-family: 'Inter Tight', serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0em;
}

/* Genel Footer Stil Ayarları */
.footer {
  padding: 40px 0;
  background-color: #7A3145;
  color: #fbfbfb;
  text-decoration: none;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-main {
  margin-bottom: 40px;
}

.footer-logo {
  fill: #fbfbfb;
}

.footer-desc {
  max-width: 330px;
  max-height: 60px;
  margin-top: 14px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }

  .footer-desc {
    max-width: 265px;
    margin-top: 24px;
  }

  .footer-logo {
    width: 217px;
    height: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    padding: 52px 0;
  }
}

.footer-contacts {
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .footer-contacts {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .sec-foot-cont {
    display: flex;
    flex-direction: row;
    gap: 121px;
  }

  .footer-contacts {
    margin-bottom: 124px;
  }
}

.footer-list {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-list {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-list {
    margin-bottom: 0;
  }
}

.header-third.header-third-menu:not(:last-child) {
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .header-third.header-third-menu:not(:last-child) {
    margin-bottom: 24px;
  }
}

.footer-anchor-link {
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.footer-anchor-link:hover,
.footer-anchor-link:focus {
  color: #d4bfc4;
}

.footer-address {
  font-style: normal;
}

.ft-link {
  display: inline-block;
  margin-bottom: 14px;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.ft-link:hover,
.ft-link:focus {
  color: #d4bfc4;
}

@media only screen and (min-width: 768px) {
  .ft-link {
    margin-bottom: 24px;
  }
}

.policy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .policy-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.policy-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
}