*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
img {
  display: block;
}

h2 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.75px;
  margin: 0;
}

h3 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.75px;
  margin: 0;
}
body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 0;
}
p {
  margin: 0;
}

header {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 32px;
  width: 90%;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Sol ve sağ hizalama için */
}

#nav-logo-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Dikeyde ortalama */
  gap: 4px;
}

.nav-logo-left-img {
  height: 12px;
  width: 148px;
}

.menu-svg {
  height: 16px;
  width: 16px;
}

.tree-menu-svg {
  width: 21.33px;
  height: 16px;
}

.nav-logo-right {
  display: flex;
  align-items: center;
}

#navbar-right {
  display: none;
  flex-direction: row;
  gap: 20px;
  width: 498px;
  height: 52px;
  margin-right: 100px;
}

#navbar-right-list-ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
}

#navbar-right-list-li {
  width: 118px;
  height: 44px;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  gap: 10px;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fbfbfb;
  background: none;
}

#navbar-right-button {
  display: flex;
  border-radius: 30px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  background-color: #7a3145;
}

#navbar-right-button button {
  all: unset; /* Tüm varsayılan tarayıcı stillerini sıfırlar */
  color: #fbfbfb; /* Yazı rengi */
  font-family: 'Inter Tight', sans-serif; /* Yazı tipi */
  font-size: 18px; /* Yazı boyutu */
  font-weight: 600; /* Yazı kalınlığı */
  line-height: 20px;
  cursor: pointer; /* Fare imlecini pointer yapar */
  text-align: center;
  width: 100px;
}

#navbar-right-button:active {
  background-color: #fbfbfb;
  color: #7a3145;
}

.overlay-container {
  position: fixed;
  display: none;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: absolute;
  width: 100%;
  min-height: 812px;
  background-color: #576f35;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit-button {
  border: none;
  top: 0; /* Üst kısmına yerleştirir */
  right: 20px;
  margin-top: 20px;
  width: 32px;
  height: 32px;
  background-color: #576f35;
}
.exit-svg {
  position: absolute; /* Öğeleri aynı konumda üst üste yerleştirir */
  top: 0; /* Üst kısmına yerleştirir */
  right: 20px;
  margin-top: 20px;
  list-style: none;
}

.overlay-menu-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 234px;
  margin-left: 114px;
  margin-right: 114px;
  gap: 24px;
}

.overlay-menu-li {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #fbfbfb;
  padding: 12px;
  gap: 10px;

  background-color: #576f35;
  color: #fbfbfb;
}

.overlay-menu-li:active {
  background-color: #fbfbfb;
  color: #7a3145;
}
.shop-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 232px;
  margin-left: 100px;
  margin-right: 100px;
}

.overlay-button-under {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #7a3145;
  color: #fbfbfb;
  border-radius: 30px;
  gap: 10px;
  padding: 16px 41px;
}

.overlay-button-under:active {
  background-color: #fbfbfb;
  color: #7a3145;
}

#hero-section {
  display: flex; /* Flexbox aktif edilir */
  flex-direction: column;
  padding-top: 100px;
  gap: 40px;
  background-color: #576f35;
}

.hero-section-text p {
  color: #fbfbfb;
}
.hero-section-text h1 {
  color: #fbfbfb;
  text-transform: uppercase;
}

.hero-section-text {
  padding-left: 20px;
  padding-right: 20px;
  display: flex; /* Flexbox aktif edilir */
  flex-direction: column;
  gap: 20px;
}

.hero-section-img {
  width: 100%;
  height: 372px;
  background-image: url(/images/hero_section/heroimage@3x.png);
  background-size: cover; /* Resmi kapsayıcı alana göre ölçeklendirir */
  background-position: center; /* Resmi dikey ve yatay ortalar */
  background-repeat: no-repeat; /* Resmin tekrar etmesini engeller */
}

/* BEYZA */
#second-section {
  width: 100%;
  height: auto;
  padding: 80px 20px;
}
.second-section-up {
  width: 100%;
  height: auto;
  background-color: #576f35;
  border-radius: 12px;
  color: #fbfbfb;
}
.second-section-bottom {
  width: 100%;
  height: auto;
  color: #141414;
}
/* BEYZA */

#third-section {
  background-color: #7a3145;
  display: flex; /* Flexbox aktif edilir */
  flex-direction: column; /* Dikey düzen */
  gap: 40px; /* Elemanlar arası boşluk */
  padding: 80px 20px;
}
.third-section-top {
  display: flex; /* Flexbox aktif edilir */
  flex-direction: column; /* Dikey düzen */
  gap: 20px; /* Elemanlar arası boşluk */
  max-width: 626px;
}

.third-section-title {
  color: white;
  max-width: 335px;
}

.third-section-text {
  color: white;
}

.third-section-bottom {
  display: flex; /* Flexbox aktif edilir */
  flex-wrap: wrap;
  gap: 20px; /* Elemanlar arası boşluk */
}

.vegetables-name {
  color: #7a3145;
}

.vegetables-cards {
  width: 335px;
  height: 376px;
  padding: 32px 24px;
  display: flex; /* Flexbox aktif edilir */
  flex-direction: column; /* Dikey düzen */
  gap: 10px; /* Elemanlar arası boşluk */
  border-radius: 40px;
  background-color: #fbfbfb;
}

.vegetables-card {
  display: flex; /* Flexbox aktif edilir */
  flex-direction: column; /* Dikey düzen */
  gap: 12px;
}

.vegetables-texts {
  display: flex; /* Flexbox aktif edilir */
  flex-direction: column; /* Dikey düzen */
  gap: 12px;
}

.vegetables-image {
  width: 100%;
  height: auto;
  display: block;
}

/* BEYZA */
#fourth-section {
  width: 100%;
  min-height: 664px;
  background-color: #fbfbfb;
  padding: 80px 20px;
}
.fourth-section-title {
  width: 335px;
  height: 236px;
  margin-bottom: 40px;
}
#fourth-section h2 {
  color: #141414;
  margin-bottom: 20px;
}
#fourth-section h2 span {
  color: #576f35;
}
.customers-cards {
  width: 100%;
  height: 248px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.customer-card {
  min-width: 335px;
  height: 100%;
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px 16px;
  background-color: #fbfbfb;
  text-align: center;
}
.customer-card img {
  display: inline-flex;
  justify-content: center;
}
.customer-name {
  font-weight: 600;
  font-size: 18px;
  color: #141414;
  margin-top: 24px;
  margin-bottom: 8px;
}
.customer-review {
  white-space: normal;
  width: 288px;
  height: 80px;
  color: #858585;
}
/* BEYZA */

/* fifth-section by yesimbozkurt */
#fifth-section {
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
  align-items: center;
  justify-content: center;
  background-color: #576f35;
}

.fifth-section-title {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
}

.fifth-section-title h2 {
  font-size: 48px;
  line-height: 52px;
  color: #fbfbfb;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
}

.fifth-section-title span {
  color: #d4bfc4;
}

.fifth-section-title p {
  font-size: 14px;
  line-height: 20px;
  color: #fbfbfb;
  font-weight: 500;
}

.fifth-section-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-top: 52px;
  width: 100%;
}

.fifth-section-form-container {
  width: 335px;
  height: 552px;
  padding: 40px 20px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin: 0 auto;
}

.fifth-section-form-container h2 {
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: #141414;
  text-transform: uppercase;
  font-weight: 600;
}

.fifth-section-form-container .from-us {
  color: #7a3145;
}

.fifth-section-form-container .the-form {
  color: #576f35;
}

.fifth-section-form-container .form-box {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  width: 295px;
  margin: 20px auto;
}

.inp {
  width: 400px;
  height: 50px;
  padding: 0 20px;
  border: 1px solid gray;
  border-radius: 30px;
  outline: none;
}

.inp::placeholder {
  color: black;
}

.inp:focus {
  border-color: brown;
}

.inp:not(:placeholder-shown):invalid {
  border-color: red;
}

.inp:not(:placeholder-shown):valid {
  border-color: green;
}

.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}

.text-valid {
  color: green;
}

.text-invalid {
  color: red;
}

.inp:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

.inp:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.button-send {
  display: block;
  margin: 0 auto;
  min-width: 160px;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 30px;
  cursor: pointer;
}

.button-send:is(:hover, :focus) {
  border-color: brown;
}

.fifth-section-form-container .form-box input,
.fifth-section-form-container .form-box textarea {
  width: 100%;
  align-items: center;
  padding: 16px;
  border: 1px solid #858585;
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 48px;
}

.fifth-section-form-container .form-box textarea {
  height: 92px;
  width: 100%;
  align-items: center;
  border: 1px solid #858585;
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.fifth-section-form-container .form-box button {
  width: 100%;
  background-color: #7a3145;
  height: 52px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 0.02em;
  line-height: 20px;
  text-align: center;
  color: #fbfbfb;
}

.fifth-section-form-container .form-box button:hover {
  background-color: #fbfbfb;
  color: #7a3145;
}

.fifth-section-img-container {
  background-color: #7a3145;
  border-radius: 30px;
  padding: 40px 20px;
  gap: 20px;
  width: 335px;
  height: 456px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.fifth-section-img-container img {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 15px;
  width: 295px;
  object-fit: cover;
  height: 272px;
  opacity: 0px;
  /* margin: 40px 20px; */
  margin-bottom: 0;
  max-width: 100%;
}

.fifth-section-img-container .social-networks {
  color: #d4bfc4;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  text-align: left;

  font-weight: 600;
  padding-left: 20px;
  width: 357px;
}

.fifth-section-img-container .social-media {
  color: #fbfbfb;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.02em;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
  text-align: left;

  font-weight: 600;
  margin-bottom: 50px;
  padding-left: 20px;
  width: 295px;
}

.fifth-section-img-container .social-media li a {
  color: #fbfbfb;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  #second-section {
    padding: 100px 32px;
  }
  #second-section h2 {
    font-size: 64px;
    line-height: 64px;
    display: inline;
  }
  #third-section {
    padding: 100px 32px;
    gap: 52px;
  }
  h2 {
    font-size: 64px;
    line-height: 64px;
  }

  body {
    font-size: 16px;
    line-height: 20px;
  }

  .third-section-top {
    gap: 24px;
  }

  .third-section-bottom {
    row-gap: 28px;
    column-gap: 24px;
  }
  .vegetables-cards {
    width: 340px;
    height: 380px;
    padding: 32px 30px;
    gap: 12px;
  }
  .third-section-title {
    width: 508px;
    height: 128px;
  }
  #fourth-section {
    padding: 100px 32px;
  }
  .fourth-section-title {
    width: 553px;
    height: 192px;
  }
  .customer-card {
    width: 340px;
  }

  /* fifth-section by yesim */
  .fifth-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 100px;
    max-width: 1279px;
    justify-content: center;
    margin: 0 auto;
  }

  .fifth-section-title h2 {
    font-size: 64px;
    line-height: 64px;
    margin: 0 auto;
    width: 768px;
  }

  .fifth-section-title p {
    width: 640px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 24px;
    color: #fbfbfb;
  }

  .fifth-section-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 24px;
    margin-top: 52px;
    width: 100%;
  }

  .fifth-section-form-container {
    width: 640px;
    height: 632px;
    gap: 10px;
    border-radius: 30px;
    /* padding: 72px 100px; */
  }

  .fifth-section-form-container .form-box {
    padding: 50px 50px;
    width: 628px;
    height: 534px;
    margin: 0 auto;
    border-radius: 30px;
  }

  .fifth-section-form-container h2 {
    font-size: 32px;

    font-weight: 600;
    width: 440px;
    /* height: 78px; */
    margin: 0 auto;
    margin-bottom: 52px;
  }

  .fifth-section-img-container {
    width: 640px;
    height: 528px;
    /* padding: 52px 0px 0px 0px; */
    /* gap: 52px; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .fifth-section-img-container img {
    width: 536px;
    height: 316px;
    object-fit: cover;
    gap: 20px;
  }

  .fifth-section-img-container .fifth-section-social-media {
    width: 492px;
  }
}

@media (min-width: 1280px) {
  #second-section {
    padding: 100px;
  }
  #second-section h2 {
    font-size: 76px;
    line-height: 76px;
  }
  #third-section {
    padding: 100px;
  }
  #fourth-section {
    padding: 100px;
  }
  .customer-card {
    width: 100%;
  }
  .customer-review {
    width: 100%;
  }

  /* fifth-section by yesim */
  #fifth-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    gap: 50px;
    min-width: 1280px;
    margin: 0 auto;
  }

  .fifth-section-title {
    margin-left: 100px;
  }

  .fifth-section-title h2 {
    max-width: 752px;
    font-size: 62px;
  }

  .fifth-section-title p {
    width: 742px;
    font-size: 16px;
  }

  .fifth-section-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 1, 080px;
    height: 592px; */
    gap: 32px;
    opacity: 0px;
    margin-top: 52px;
  }

  .fifth-section-form-container {
    padding: 52px 48px;
    width: 524px;
    height: 592px;
  }

  .fifth-section-form-container .form-box {
    width: 429px;
    height: 100%;
    margin: 50px auto;
  }

  .fifth-section-img-container {
    width: 524px;
    height: 592px;
  }

  .fifth-section-img-container img {
    object-fit: cover;
    width: 428px;
    height: 352px;
  }

  .fifth-section-img-container .fifth-section-social-media {
    width: 386px;
  }
}
